PayRollDesa/PayrollDesa/GRP_COL_PEmpleado/PSE001_Empleado/WSDL/Empleado.wsdl

<wsdl:definitions name="Empleado" targetNamespace="http://cl.gtd.com/wsdl/Empleado" xmlns:tns="http://cl.gtd.com/wsdl/Empleado" xmlns:inp1="http://cl.gtd.com/schemas/crearEmpleadoRequest" xmlns:inp2="http://cl.gtd.com/schemas/crearEmpleadoResponse" xmlns:inp3="http://cl.gtd.com/schemas/actualizarEmpleadoRequest" xmlns:inp4="http://cl.gtd.com/schemas/actualizarEmpleadoResponse" xmlns:inp5="http://cl.gtd.com/schemas/existeCedulaRequest" xmlns:inp6="http://cl.gtd.com/schemas/existeCedulaResponse" xmlns:inp7="http://cl.gtd.com/schemas/retirarEmpleadoRequest" xmlns:inp8="http://cl.gtd.com/schemas/retirarEmpleadoResponse" xmlns:inp9="http://cl.gtd.com/schemas/crearBeneficiarioRequest" xmlns:inp10="http://cl.gtd.com/schemas/crearBeneficiarioResponse" xmlns:inp11="http://cl.gtd.com/schemas/crearPrestamoRequest" xmlns:inp12="http://cl.gtd.com/schemas/crearPrestamoResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://cl.gtd.com/schemas/crearEmpleadoRequest" schemaLocation="../XSD/crearEmpleadoExpRequest.xsd"/>
            <xsd:import namespace="http://cl.gtd.com/schemas/actualizarEmpleadoRequest" schemaLocation="../XSD/actualizarEmpleadoExpRequest.xsd"/>
            <xsd:import namespace="http://cl.gtd.com/schemas/existeCedulaRequest" schemaLocation="../XSD/existeCedulaExpRequest.xsd"/>
            <xsd:import namespace="http://cl.gtd.com/schemas/retirarEmpleadoRequest" schemaLocation="../XSD/retirarEmpleadoExpRequest.xsd"/>
            <xsd:import namespace="http://cl.gtd.com/schemas/crearBeneficiarioRequest" schemaLocation="../XSD/crearBeneficiarioExpRequest.xsd"/>
            <xsd:import namespace="http://cl.gtd.com/schemas/crearPrestamoRequest" schemaLocation="../XSD/crearPrestamoExpRequest.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://cl.gtd.com/schemas/crearEmpleadoResponse" schemaLocation="../XSD/crearEmpleadoExpResponse.xsd"/>
            <xsd:import namespace="http://cl.gtd.com/schemas/actualizarEmpleadoResponse" schemaLocation="../XSD/actualizarEmpleadoExpResponse.xsd"/>
            <xsd:import namespace="http://cl.gtd.com/schemas/existeCedulaResponse" schemaLocation="../XSD/existeCedulaExpResponse.xsd"/>
            <xsd:import namespace="http://cl.gtd.com/schemas/retirarEmpleadoResponse" schemaLocation="../XSD/retirarEmpleadoExpResponse.xsd"/>
            <xsd:import namespace="http://cl.gtd.com/schemas/crearBeneficiarioResponse" schemaLocation="../XSD/crearBeneficiarioExpResponse.xsd"/>
            <xsd:import namespace="http://cl.gtd.com/schemas/crearPrestamoResponse" schemaLocation="../XSD/crearPrestamoExpResponse.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="crearRequestMessage">
        <wsdl:part name="crearEmpleadoReq" element="inp1:crearEmpleadoRequest"/>
    </wsdl:message>
    <wsdl:message name="crearReplyMessage">
        <wsdl:part name="crearEmpleadoRsp" element="inp2:crearEmpleadoResponse"/>
    </wsdl:message>
    
    <wsdl:message name="actualizarRequestMessage">
        <wsdl:part name="actualizarEmpleadoReq" element="inp3:actualizarEmpleadoRequest"/>
    </wsdl:message>
    <wsdl:message name="actualizarReplyMessage">
        <wsdl:part name="actualizarEmpleadoRsp" element="inp4:actualizarEmpleadoResponse"/>
    </wsdl:message>
    
    <wsdl:message name="existeCedulaRequestMessage">
        <wsdl:part name="existeCedulaReq" element="inp5:existeCedulaRequest"/>
    </wsdl:message>
    <wsdl:message name="existeCedulaReplyMessage">
        <wsdl:part name="existeCedulaRsp" element="inp6:existeCedulaResponse"/>
    </wsdl:message>

    <wsdl:message name="retirarRequestMessage">
        <wsdl:part name="retirarEmpleadoReq" element="inp7:retirarEmpleadoRequest"/>
    </wsdl:message>
    <wsdl:message name="retirarReplyMessage">
        <wsdl:part name="retirarEmpleadoRsp" element="inp8:retirarEmpleadoResponse"/>
    </wsdl:message>  

    <wsdl:message name="crearBeneficiarioRequestMessage">
        <wsdl:part name="crearBeneficiarioReq" element="inp9:crearBeneficiarioRequest"/>
    </wsdl:message>
    <wsdl:message name="crearBeneficiarioReplyMessage">
        <wsdl:part name="crearBeneficiarioRsp" element="inp10:crearBeneficiarioResponse"/>
    </wsdl:message>
    
    <wsdl:message name="crearPrestamoRequestMessage">
        <wsdl:part name="crearPrestamoReq" element="inp11:crearPrestamoRequest"/>
    </wsdl:message>
    <wsdl:message name="crearPrestamoReplyMessage">
        <wsdl:part name="crearPrestamoRsp" element="inp12:crearPrestamoResponse"/>
    </wsdl:message>

    <wsdl:portType name="empleadoPt">
        <wsdl:operation name="crearEmpleado">
            <wsdl:input message="tns:crearRequestMessage"/>
            <wsdl:output message="tns:crearReplyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="actualizarEmpleado">
            <wsdl:input message="tns:actualizarRequestMessage"/>
            <wsdl:output message="tns:actualizarReplyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="existeCedula">
            <wsdl:input message="tns:existeCedulaRequestMessage"/>
            <wsdl:output message="tns:existeCedulaReplyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="retirarEmpleado">
            <wsdl:input message="tns:retirarRequestMessage"/>
            <wsdl:output message="tns:retirarReplyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="crearBeneficiario">
            <wsdl:input message="tns:crearBeneficiarioRequestMessage"/>
            <wsdl:output message="tns:crearBeneficiarioReplyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="crearPrestamo">
            <wsdl:input message="tns:crearPrestamoRequestMessage"/>
            <wsdl:output message="tns:crearPrestamoReplyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="empleadoBinding" type="tns:empleadoPt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="crearEmpleado">
            <soap:operation style="document" soapAction="crearEmpleado"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/Empleado"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/Empleado"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="actualizarEmpleado">
            <soap:operation style="document" soapAction="actualizarEmpleado"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/Empleado"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/Empleado"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="existeCedula">
            <soap:operation style="document" soapAction="existeCedula"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/Empleado"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/Empleado"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="retirarEmpleado">
            <soap:operation style="document" soapAction="retirarEmpleado"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/Empleado"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/Empleado"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="crearBeneficiario">
            <soap:operation style="document" soapAction="crearBeneficiario"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/CrearBeneficiario"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/CrearBeneficiario"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="crearPrestamo">
            <soap:operation style="document" soapAction="crearPrestamo"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/CrearPrestamo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://cl.gtd.com/wsdl/CrearPrestamo"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
</wsdl:definitions>